PORT=<port>
VAULT_ADDR=http://sufijo.example.com
VAULT_ROLE_ID=<secret>                            
VAULT_SECRET_ID=<secret>                            
VAULT_WEBSOCKET_SECRETS_PATH=<path>
VAULT_JWT_PUBLIC_KEY_PATH=accesos/keys/public
VAULT_JWT_BOT_PUBLIC_KEY_PATH=accesos/keys/public_bot
