PORT=4001
DATABASE_URL=postgresql://<db_user>:<db_password>@<db_host>:5432/<db_name>?schema=public
MONGODB_URI=mongodb://<db_user>:<db_password>@<mongo_host>:27017/?authSource=admin
MEDIA_BASE_URL=http://apist.zaldio.qzz.io
WS_SERVER=http://panel_websocket:5050
N8N_MSG_DELEGATION_WEBHOOK_URL=http://n8n:5678/webhook/flujo-eventos
N8N_SECRET_TOKEN=<n8n_secret_token>
BOT_TOKEN_SECRET=<bot_token_secret>
BOT_BASE_URL=http://wa_backend:3000
API_KEY_WS=<api_key_ws>
N8N_API_KEY=<n8n_api_key>
VAULT_ADDR=http://vault:8200
VAULT_ROLE_ID=<vault_role_id>
VAULT_SECRET_ID=<vault_secret_id>
VAULT_APP_SECRETS_PATH=<vault_app_secrets_path>
GATEWAY_BASE_URL=https://winbotpc.llevatuplan.cl
REDIS_HOST=redis-server
REDIS_PORT=6379
REDIS_PASSWORD=<redis_password>
META_PAGE_ACCESS_TOKEN=<meta_page_access_token>
META_VERIFY_TOKEN=<meta_verify_token>
META_IG_VERIFY_TOKEN=<meta_ig_verify_token>
N8N_CALLBACK_SECRET_TOKEN=<n8n_callback_secret_token>
META_INSTAGRAM_ACCESS_TOKEN=<meta_instagram_access_token>
