PORT=4002
DATABASE_URL=postgresql://<db_user>:<db_password>@<db_host>:5432/<db_name>?schema=public
VAULT_ADDR=http://vault:8200
VAULT_ROLE_ID=<vault_role_id>
VAULT_SECRET_ID=<vault_secret_id>
VAULT_JWT_PRIVATE_KEY_PATH=accesos/keys/private
VAULT_JWT_PUBLIC_KEY_PATH=accesos/keys/public
VAULT_JWT_BOT_PUBLIC_KEY_PATH=accesos/keys/public_bot
CORS_ALLOWED_ORIGINS=<frontend_public_url>
SERVICE_ALLOWED_IPS=127.0.0.1,::1
REDIS_HOST=redis-server
REDIS_PORT=6379
REDIS_PASSWORD=<redis_password>
