VITE_WEBSOCKET_URL=wss://socket.example.com
VITE_API_URL=https://api.example.com
VITE_MEDIA_BASE_URL=https://api.example.com
VITE_AUTH_API_URL=https://accesos.example.com/api/auth
VITE_ESTADO_BOT_URL=https://socket.example.com
VITE_API_URL_ACCESOS=https://accesos.example.com
VITE_SCRAPER_BASE_URL=https://winbotpc.llevatuplan.cl/scraper/movistar
VITE_API_URL_RUT=https://winbotpc.llevatuplan.cl/scraper/rutificador
VITE_WA_PUBLIC_URL=https://wsapi.example.com
